.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
data/~$spss_files.xlsx
data/spss/*
data/processing/*
data/clean/*
data/sharing/*
codebook/*
reports/*
*DS_Store

## Remove these and check what should be included
r/tests/*
r/temp/*
data/tests/*
r/post_processing/*
data/validated/*

